* {
  margin: 0;
  padding: 0;
}
a,
ul {
  text-decoration: none;
}

.container {
  width: auto;
  height: 1000vh;
  background-color: rgb(251, 251, 228);
}
.nav {
  width: auto;
  height: 74px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  background-color: white;
}

.logo {
  width: 50%;
  height: 42px;
  display: flex;
  align-items: center;
}

.dashboard {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 30px;
}

.hero {
  width: 320px;
  height: 400px;
  margin: 0 20px 0 20px;
  background-image: url(img/frame.jpg);
  background-size: cover;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.img-hero {
  width: 320px;
  height: 400px;
  background-color: black;
  border-radius: 15px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 280px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 20px;
  margin-top: 10px;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: white;
  align-items: center;
  text-align: center;
  line-height: 110%;
}
p {
  width: 280px;
  height: 120px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: white;
  letter-spacing: 0.2px;
  line-height: 140%;
}

.btn-btn {
  width: 280px;
  height: 40px;
  border-radius: 10px;
  background-color: #3ecf4c;
  color: white;
  border-style: none;
  padding: 10px 5px 10px 5px;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.content-title {
  width: 320px;
  height: 102px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline: 25px;
  padding-block: 0;
}

.caption {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 110%;
  color: #222325;
  width: 320px;
  height: 52px;
  text-align: left;
}

h3 {
  width: 320px;
  height: 40px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333ad;
  opacity: 0.7;
}

.tabs,
.content-list {
  width: auto;
  padding-inline: 24px;
}

.items {
  display: flex;
  white-space: nowrap;
  /* overflow-x: auto; */
  overflow: hidden;
}

.items::-webkit-scrollbar {
  width: 0.2px;
}
.item-text {
  width: max-content;
  height: 20px;
  display: inline-block;
  padding: 7px;
  margin: 15px;
  margin-left: 0;
  padding-left: 0;
  position: relative;
}

.item-text a {
  font-family: "DM Sans", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333ad;
  /* position: relative; */
}

.item-text::after {
  content: "";
  position: absolute;
  background-color: #f64920;
  height: 5px;
  width: 0;
  left: 0;
  bottom: -10px;
  border-radius: 10px;
  transition: 0.3s;
}

.item-text:hover::after {
  width: 50px;
}
.item-text a:hover {
  color: #f64920;
}

.content-price {
  width: auto;
  height: auto;
  border: #333333ad 1px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(150px);
  gap: 20px;
}

.cover {
  width: auto;
  height: 147px;
  border-radius: 10px;
  background-color: white;
  padding: 15px;
}

.layer {
  height: 83px;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.bg-icon img {
  width: 82px;
  height: 82px;
  border-radius: 10px;
}

.auditor {
  width: 194px;
  height: 83px;
}
.title {
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  color: #222325;
}

.name-audit {
  display: flex;
  width: 194px;
  height: 37px;
  margin-top: 10px;
}

.icon img {
  width: 36px;
  height: 36px;
  border-radius: 10px;
}

.name {
  display: flex;
  flex-direction: column;
  height: 37px;
  margin-left: 10px;
}

h4 {
  font-family: "DM Sans", serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #222325;
}

.account {
  font-family: "DM Sans", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333ad;
}

.service {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.rating {
  width: 143px;
  height: 18px;
  display: flex;
  justify-content: space-between;
}

.rating img {
  width: 90px;
  height: auto;
}

.value {
  width: 45px;
  height: 17px;
  font-family: "DM Sans", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-decoration: underline;
  color: #333333;
  opacity: 0.8;
}

.price {
  width: 83px;
  height: 24px;
  color: #3ecf4c;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  margin-right: 5px;
}

.banner {
  width: 320px;
  height: 400px;
  background-image: url(img/banner.jpg);
  background-size: cover;
  background-position-x: center;
  display: flex;
  justify-content: center;
  margin: 30px 24px;
}
