.nav {
  width: auto;
  height: 74px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 24px;
  padding-inline-end: 24px;
}

.logo {
  width: 50%;
  height: 42px;
  display: flex;
  align-items: center;
}

.hero {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-hero {
  width: auto;
  height: 500px;
}
