* {
  margin: 0;
  padding: 0;
}

.container {
  width: auto;
  height: 1000vh;
  background-color: rgb(254, 254, 245);
}
.nav {
  width: auto;
  height: 74px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  background-color: white;
}

.logo {
  width: 50%;
  height: 42px;
  display: flex;
  align-items: center;
}

.dashboard {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 30px;
}

.hero {
  width: 320px;
  height: 400px;
  margin: 0 20px 0 20px;
  background-image: url(img/frame.jpg);
  background-size: cover;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.img-hero {
  width: 320px;
  height: 400px;
  background-color: black;
  border-radius: 15px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 280px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 20px;
  margin-top: 10px;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: white;
  align-items: center;
  text-align: center;
  line-height: 110%;
}
p {
  width: 280px;
  height: 120px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: white;
  letter-spacing: 0.2px;
  line-height: 140%;
}

.btn-btn {
  width: 280px;
  height: 40px;
  border-radius: 10px;
  background-color: #3ecf4c;
  color: white;
  border-style: none;
  padding: 10px 5px 10px 5px;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.content-title {
  width: 320px;
  height: 102px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline: 25px;
  padding-block: 0;
}

.caption {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 110%;
  color: #222325;
  width: 320px;
  height: 52px;
  text-align: left;
}

h3 {
  width: 320px;
  height: 40px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: #333333ad;
  opacity: 0.7;
}
